body {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: khaki;
  background-image: url('../../resources/pattern.jpeg');
}
h2 {
  font-size: 32px;
  color: white;
}
h2, h3, .cost, #header-list {
  font-weight: bold;
}
.cost {
  color: blue;
}
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
#header-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 38px;
  color: gray;
}
li {
  display: inline;
  background-color: green;
}
li a:hover {
  background-color: black;
  color: white;
}
